header {
    display: flex;
    justify-content: flex-end;
}


/* Гамбургер иконка */
.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
    display: none;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.menu.active {
    transform: translateX(0);
}

.menu li {
    list-style-type: none;
}